@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Serif:ital@1&display=swap');



*{
    padding: 0;
margin: 0;
box-sizing: border-box;
}

.container{
    width: 80%;
/* display: flex; */
}
body{
    background-color: cadetblue;
}

.headline{
display: flex;
justify-content: space-between;}


.all{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
    width: 80%;



padding-bottom:2.5em ;
}

input[type="text"]{
    padding-bottom: 2em;
    margin: 1em 0;
}
.headline{
    font-family: 'Lobster', cursive; 
    color: yellowgreen;  
}

tr th{
padding: 1em;
}


